/* nav part start */
.nav{
    color: violet;
}
.nav-icon{
    padding-left: 70px;
   font-size: 25px;
   
}
.nav-item{
    padding-left: 15px;
    transition: 1s;
    
}
.nav-item:hover{
    
    border-radius: 20px;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 6px;
    
    
}
.carousel-item{
    height: 100vh;
    min-height:300px ;
}
.font{
    font-family: 'Dancing Script', cursive;
}

.carousel-caption{
    width: 800px;
    margin-bottom: 270px;
    padding-right: 370px;
  
}
.carousel-info{
    width: 800px;
    margin-bottom: 270px;
    padding-right: 370px;
}

.p-style{
    color: goldenrod;
}
.text-success{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-danger{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

/* nav end */
/* display part */
.men-women{
    margin-top: 45px;
    overflow: hidden;

}

.image{
    position: relative;
    transition: .7s;
}



.image-overlay{
    position: absolute;
    top: 75%;
    left: 95px;
    color: rgb(32, 182, 89);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    transition: .7s;
    
}
.image-overlay:hover{
    top: 65%;
}
.shop{
    color:yellow;
    padding-left: 65px;
    text-decoration: underline;
    
}


.image:hover{
    transform: scale(1.1);
    top: 65%;
    letter-spacing: 5px;
    
}
/* display part end */

/* card item start */
.cart{
    margin-top: 30px;
}

.card{
    margin-top: 50px;
    overflow: hidden;
   
}
.span{
    margin-left: 20px;
    color: rgb(196, 196, 76);
}
.trending{
    transition: .6s;
}
.trending:hover{
    transform: scale(1.1);
    

}
.cart-button{
    position: absolute;
    top: 55%;
    left: 55px;
    display: block;  
}
.card-title{
    font-size: medium;
}
.card-title:hover{
    color: tomato;
}

.btn-group{
    background-color: aliceblue;

}

/* card item end */


/* customer testomonial */
.customer-testimonial{
    background-color: antiquewhite;
    height: 400px;
    width: 100%;
}
.info{
    width: 520px;
    margin-top: 40px;
}
.peragraph{
    margin-top: 30px;
    font-size: 20px;
}
.petey{
    margin-top: 30px;
}
.petey-info{
    padding-left: 20px;
}
/* .customer-testimonial end */

/* you may like start */
.others{
margin-top: 50px;
}

/* you may like end */

/* latest news start */

.latest-news{
    background-color: rgb(232, 226, 226);
    height: 700px;
    width: 100%;
}
.latest-info{
    margin-top: 40px;
}
.read:hover{
    letter-spacing: 1.1px;
}
.read{
    color: black;
    transition: .9s;
}
.tips{
    margin-top: 20px;
}
/* latest news end  */

/* icon part start */

.icon-part{
    margin-top: 50px;
}

.icon-img{
    margin-left: 50px;
}
.iconh{
    margin-top: 20px;
}

.footer-part{
    background-color: black;
    height: 700px;
    margin-top: 80px;
    color: aliceblue;
    
}
.fot{
    height: 300px;
    border-bottom: 2px solid red;
}
.input-email{
    height: 40px;
    width: 380px;
    margin-top: 60px;
}
.footer-info{
    margin-top: 50px;
    margin-left: 30px;
}

.fb-insta{
    margin-top: 60px;
}
.icon-fb{
    margin-left: 30px;
    font-size: 30px;
}
.icon-fb:hover{
    color: tomato;
}
.icon-insta:hover{
    color: tomato;
}
.icon-insta{
    margin-left: 40px;
    font-size: 30px;
}

.icon-youtube{
    margin-left: 40px;
    font-size: 30px;
}
.icon-youtube:hover{
    color: tomato;
}

.footer2{
    margin-top: 70px;
}




